@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
    outline: none;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: none;
	overflow: hidden;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	opacity: 0;
}
.cf:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
a {
	display: block;
	text-decoration: none;
	color: black;
	opacity: 1;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	cursor: none !important;
}
.sp-tel a {
	display: inline-block;
}
.fax a {
	display: inline-block;
	color: black;
	text-decoration: none;
	pointer-events: none;
}
.fax-w a {
	color: white;
}
.tx-inner p {
	line-height: 28px;
}

.tx-center {
	text-align: center;
}
button {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
input,
textarea,
button {
	vertical-align: middle;
	outline: none;
	-webkit-appearance: none;
	border: 0;
	outline: 0;
}
li {
	list-style-type: none;
}
img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
iframe {
	vertical-align: bottom;
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-fixed {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	/*IE10*/
	display: -webkit-flex;
	/*old webkit browser*/
	display: flex;
}

.flex-c {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.flex-c-c {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-jc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.flex-sa {
	display: -webkit-box;
	display: -ms-flexbox;
	/*IE10*/
	display: -webkit-flex;
	/*old webkit browser*/
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.flex-sb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flex-c-sb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.flex-c-sa {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.flex-w {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.flex-d {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/*------------------------------------*
    ローディング設定
*------------------------------------*/
#loading {
	position: fixed;
	top: 0;
	left: 0;
	background-image: linear-gradient(145deg, #f3f4f8, #cccdd1);
	color: #17181c;
	font: 1em/1.5 Hind, sans-serif;
	width: 100%;
	z-index: 9999;
}
.preloader {
	-webkit-animation: largePopOut 1s linear;
	animation: largePopOut 1s linear;
	border-radius: 50%;
	box-shadow:
		0.15em 0.15em 0.15em #ffffff inset,
		-0.15em -0.15em 0.15em #727274 inset,
		1em 1em 2em #727274,
		-1em -1em 2em #ffffff;
	margin-bottom: 2em;
	position: relative;
	width: 12em;
	height: 12em;
}
.preloader__square {
	-webkit-animation: animation: smallPopOut1 1s linear, popInOut 6s 1s linear infinite;
	animation: smallPopOut1 1s linear, popInOut 6s 1s linear infinite;
	border-radius: 0.5em;
	box-shadow:
		0.15em 0.15em 0.15em #ffffff inset,
		-0.15em -0.15em 0.15em #727274 inset,
		0.25em 0.25em 0.5em #727274,
		-0.25em -0.25em 0.5em #ffffff;
	position: absolute;
	top: 2.5em;
	left: 2.5em;
	width: 3em;
	height: 3em;
}
.preloader__square:nth-child(n + 2):nth-child(-n + 3) {
	left: 6.5em;
}
.preloader__square:nth-child(n + 3) {
	top: 6.5em;
}
.preloader__square:nth-child(2) {
	-webkit-animation: smallPopOut2 1s linear, move2 6s 1s linear infinite;
	animation: smallPopOut2 1s linear, move2 6s 1s linear infinite;
}
.preloader__square:nth-child(3) {
	-webkit-animation: smallPopOut3 1s linear, move3 6s 1s linear infinite;
	animation: smallPopOut3 1s linear, move3 6s 1s linear infinite;
}
.preloader__square:nth-child(4) {
	-webkit-animation: smallPopOut4 1s linear, move4 6s 1s linear infinite;
	animation: smallPopOut4 1s linear, move4 6s 1s linear infinite;
}
.status {
	-webkit-animation: fadeIn 1s linear forwards;
	animation: fadeIn 1s linear forwards;
	text-align: center;
}
.status__dot {
	-webkit-animation: appear1 1s 1s steps(1, start) infinite;
	animation: appear1 1s 1s steps(1, start) infinite;
	display: inline-block;
}
.status__dot:nth-child(2) {
	-webkit-animation: appear2 1s 1s steps(1, start) infinite;
	animation: appear2 1s 1s steps(1, start) infinite;
}
.status__dot:nth-child(3) {
	-webkit-animation: appear3 1s 1s steps(1, start) infinite;
	animation: appear3 1s 1s steps(1, start) infinite;
}

/* ローディングアニメーション */
/* ベンダープレフィックス */
@-webkit-keyframes largePopOut {
	from,
	20% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	40% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			2em 2em 2em #727274,
			-2em -2em 4em #ffffff;
	}
	60%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			1em 1em 2em #727274,
			-1em -1em 2em #ffffff;
	}
}

@-webkit-keyframes smallPopOut1 {
	from,
	40% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	60% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	80%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@-webkit-keyframes smallPopOut2 {
	from,
	45% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	65% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	85%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@-webkit-keyframes smallPopOut3 {
	from,
	50% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	70% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	90%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@-webkit-keyframes smallPopOut4 {
	from,
	55% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	75% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	95%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@-webkit-keyframes popInOut {
	from {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(0, 0);
	}
	4% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 0);
	}
	8% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 0);
	}
	12%,
	16% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 0);
	}
	20% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 0);
	}
	24%,
	25% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(4em, 0);
	}
	29% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 0);
	}
	33% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 0);
	}
	37%,
	41% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 4em);
	}
	45% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 4em);
	}
	49%,
	50% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(4em, 4em);
	}
	54% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 4em);
	}
	58% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 4em);
	}
	62%,
	66% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 4em);
	}

	70% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 4em);
	}
	74%,
	75% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(0, 4em);
	}
	79% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 4em);
	}
	83% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 4em);
	}
	87%,
	91% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 0);
	}
	95% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 0);
	}
	99%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(0, 0);
	}
}

@-webkit-keyframes move2 {
	from,
	8% {
		transform: translate(0, 0);
		width: 3em;
		height: 3em;
	}
	12% {
		transform: translate(-4em, 0);
		width: 7em;
		height: 3em;
	}
	16%,
	83% {
		transform: translate(-4em, 0);
		width: 3em;
		height: 3em;
	}
	87% {
		transform: translate(-4em, 0);
		width: 3em;
		height: 7em;
	}
	91%,
	to {
		transform: translate(-4em, 4em);
		width: 3em;
		height: 3em;
	}
}

@-webkit-keyframes move3 {
	from,
	33% {
		transform: translate(0, 0);
		height: 3em;
	}
	37% {
		transform: translate(0, -4em);
		height: 7em;
	}
	41%,
	to {
		transform: translate(0, -4em);
		height: 3em;
	}
}

@-webkit-keyframes move4 {
	from,
	58% {
		transform: translate(0, 0);
		width: 3em;
	}
	62% {
		transform: translate(0, 0);
		width: 7em;
	}
	66%,
	to {
		transform: translate(4em, 0);
		width: 3em;
	}
}

@-webkit-keyframes fadeIn {
	from,
	67% {
		opacity: 0;
	}
	83.3%,
	to {
		opacity: 1;
	}
}

@-webkit-keyframes appear1 {
	from {
		visibility: hidden;
	}
	33%,
	to {
		visibility: visible;
	}
}

@-webkit-keyframes appear2 {
	from,
	33% {
		visibility: hidden;
	}
	67%,
	to {
		visibility: visible;
	}
}

@-webkit-keyframes appear3 {
	from,
	67% {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}

/* ベンダープレフィックスなし */
@keyframes largePopOut {
	from,
	20% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	40% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			2em 2em 2em #727274,
			-2em -2em 4em #ffffff;
	}
	60%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			1em 1em 2em #727274,
			-1em -1em 2em #ffffff;
	}
}

@keyframes smallPopOut1 {
	from,
	40% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	60% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	80%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@keyframes smallPopOut2 {
	from,
	45% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	65% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	85%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@keyframes smallPopOut3 {
	from,
	50% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	70% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	90%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@keyframes smallPopOut4 {
	from,
	55% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
	}
	75% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
	}
	95%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
	}
}

@keyframes popInOut {
	from {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(0, 0);
	}
	4% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 0);
	}
	8% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 0);
	}
	12%,
	16% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 0);
	}
	20% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 0);
	}
	24%,
	25% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(4em, 0);
	}
	29% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 0);
	}
	33% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 0);
	}
	37%,
	41% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 4em);
	}
	45% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 4em);
	}
	49%,
	50% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(4em, 4em);
	}
	54% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(4em, 4em);
	}
	58% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(4em, 4em);
	}
	62%,
	66% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 4em);
	}
	70% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 4em);
	}
	74%,
	75% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(0, 4em);
	}
	79% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 4em);
	}
	83% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 4em);
	}
	87%,
	91% {
		box-shadow:
			0 0 0 #ffffff inset,
			0 0 0 #727274 inset,
			0 0 0 #727274,
			0 0 0 #ffffff;
		transform: translate(0, 0);
	}
	95% {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.5em 0.5em 0.5em #727274,
			-0.5em -0.5em 1em #ffffff;
		transform: translate(0, 0);
	}
	99%,
	to {
		box-shadow:
			0.15em 0.15em 0.15em #ffffff inset,
			-0.15em -0.15em 0.15em #727274 inset,
			0.25em 0.25em 0.5em #727274,
			-0.25em -0.25em 0.5em #ffffff;
		transform: translate(0, 0);
	}
}

@keyframes move2 {
	from,
	8% {
		transform: translate(0, 0);
		width: 3em;
		height: 3em;
	}
	12% {
		transform: translate(-4em, 0);
		width: 7em;
		height: 3em;
	}
	16%,
	83% {
		transform: translate(-4em, 0);
		width: 3em;
		height: 3em;
	}
	87% {
		transform: translate(-4em, 0);
		width: 3em;
		height: 7em;
	}
	91%,
	to {
		transform: translate(-4em, 4em);
		width: 3em;
		height: 3em;
	}
}

@keyframes move3 {
	from,
	33% {
		transform: translate(0, 0);
		height: 3em;
	}
	37% {
		transform: translate(0, -4em);
		height: 7em;
	}
	41%,
	to {
		transform: translate(0, -4em);
		height: 3em;
	}
}

@keyframes move4 {
	from,
	58% {
		transform: translate(0, 0);
		width: 3em;
	}
	62% {
		transform: translate(0, 0);
		width: 7em;
	}
	66%,
	to {
		transform: translate(4em, 0);
		width: 3em;
	}
}

@keyframes fadeIn {
	from,
	67% {
		opacity: 0;
	}
	83.3%,
	to {
		opacity: 1;
	}
}

@keyframes appear1 {
	from {
		visibility: hidden;
	}
	33%,
	to {
		visibility: visible;
	}
}

@keyframes appear2 {
	from,
	33% {
		visibility: hidden;
	}
	67%,
	to {
		visibility: visible;
	}
}

@keyframes appear3 {
	from,
	67% {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}

/*------------------------------------*
    カーソル設定
*------------------------------------*/
.cursor,
.follower {
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	cursor: none !important;
}
.cursor {
	width: 8px;
	height: 8px;
	background-color: #000;
	z-index: 2000;
}
.follower {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: rgba(4, 174, 207, 0.5);
	z-index: 1999;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform .1s ease;
	transition: transform .1s ease;
	text-align: center;
}
.follower.is-active {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}