doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        title swiper.jsの練習
        link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
        script(src="https://unpkg.com/swiper/js/swiper.min.js")
    body
